@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

body{
    height: 100vh;
    box-sizing: border-box; /* a FILHA não vaza de dentro da PAI */
    background-color: #000000;
    color: #F6F6F6;
}

.titulo-destaque {
    color:#22d4fd;
}

.apresentacao {
    margin: 10% 15%;
    display: flex; /* alinha os items em linhas ou colunas, diretamente ou inversamente */
    align-items: center; /* alinhamento baseado no maior item do conjunto */
    justify-content: space-between;
    /* flex-direction: row; */
}

.apresentacao__conteudo {
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo {
    font-size: 36px;
    font-family: 'Krona One', sans-serif;
}

.apresentacao__conteudo__texto {
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
}

/* aula_4.2:  */
.apresentacao__links {
    display: flex;
    justify-content: space-between;
}

/* aula_4.4: */
.apresentacao__links__link {
    background-color: #22d4fd;
    width: 280px;
    text-align: center;
    border-radius: 16px;
    font-size: 24px;
    font-weight: 600;
    padding: 21px 0;
    text-decoration: none;
    color: #000000;
    font-family: 'Montserrat', sans-serif;
}

/* RESUMO:

aula 4.2:
    no html:
        criado um div para os dois <a>;
        criada uma classe para o div: class='apresentacao__links';
    no css:
        criada uma classe: '.apresentacao__links';

aula_4.4:
    no html:
        criada uma classe para os <a>: class='apresentacao__links__link';
    no css:
        criada a classe .apresentacao__links__link;

aula_5.2:
    no css:
        apresentacao__conteudo {}
            colocado: display: flex; flex-direction: column; gap: 40px;

*/